html,body{
	width:100%;
	height:100%;
	color:#ffffff;
	background-color:#000000;
	overflow: hidden;
}
.navbar{
	position: absolute;
	top:0%;
	left:0%;
	width:100%;
	height:20%;
	font-size: 5vw;
	background-color: #d1e1fc;
}
.navleft{
	positions: absolute;
	top:0%;
	left:0%;
	height:100%;
	width:40%;
	text-align: left;
}
.navright{
	position: absolute;
	top:0%;
	right:0%;
	height:100%;
	width:40%;
	text-align: right;
}
ul div{
	position: relative;
	float:left;
	height:20%;
	width:100%;
	margin:10px;
}
li{
	position: absolute;
	left:0%;
	width:75%;
	height:100%;
	background-color: #7fc68e;
	margin:0;
	padding:0;
	border-radius: 5px;
}
.savenote,.deletenote{
	height: 100%;
	width:12.5%;
}
.savenote{
	position: absolute;
	right:0%;
}
.deletenote{
	position: absolute;
	right: 12.5%;
}
#notesarea
{
	position: absolute;
	top:20%;
	left:0%;
	height: 80%;
	width:100%;
	margin:0;
	padding:0;
	overflow-x: hidden;
	overflow-y: scroll;
}
#addnote{
	position: fixed;
	right:5%;
	bottom: 5%;
	width:10%;
	height:10%;
	font-size: 3vw;
	background-color: red;
	border-radius: 50%;
}
