doctype html
html
	head
		title Dashboard
		script(src='/views/dashboard/dashboard.js')
		link(rel="stylesheet", href="/views/dashboard/dashboard.css")
	body
		div.navbar
			div.navleft
				div Your notes
			div.navright
				div.logout
					a(href='/logout') Logout
		ul#notesarea
			each note in notes
					div
						li.note=note
						button.deletenote delete
						button.savenote save
					<br>
		button#addnote +
