html,body{
	background-color: #dbd7d4;
	width:100%;
	height:100%;
	overflow: hidden;
}
.area{
	position: absolute;
	left:25%;
	top:10%;
	width:50%;
	height:80%;
	display: inline-block;
}
#signup,#login{
		position: absolute;
		top:0%;
		font-size: 3vw;
		text-align: center;
		width:45%;
		height:20%;
		border: 1px solid black;
		border-radius: 5px;
}
#signup{
	position: absolute;
	left:5%;
	box-shadow: 5px;
}
#login{
	position: absolute;
	left:50%;
}
.area .showarea{
	position: absolute;
	left:0%;
	top:20%;
	width:100%;
	height:90%;
	background-color: #ffffff;
	 border-radius: 5%;
}

#loginForm,#signupForm{
	font-size: 3vw;
	position: absolute;
	top:0%;
	left:10%;
	padding:20px;
}

#loginForm>*,#signupForm>*{
	padding:10px;
}

input,button{
	font-size: 3vw;
}
button{
	background-color:
}
